force-app/main/default/flows/Prod_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>a1</name>
        <label>a1</label>
        <locationX>175</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>v1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if1</name>
        <label>if1</label>
        <locationX>435</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>way1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>u1</targetReference>
            </connector>
            <label>way1</label>
        </rules>
        <rules>
            <name>way2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_is_active</targetReference>
            </connector>
            <label>way2</label>
        </rules>
    </decisions>
    <interviewLabel>Prod flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prod flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get1</name>
        <label>get1</label>
        <locationX>167</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>a1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>u1</name>
        <label>u1</label>
        <locationX>572</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>All_is_actived</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <screens>
        <name>All_is_active</name>
        <label>All is active</label>
        <locationX>750</locationX>
        <locationY>457</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>All_products_have_been_already_delivered</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>All products have been already delivered</stringValue>
            </defaultValue>
            <fieldText>All products have been already delivered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>All_is_actived</name>
        <label>All is actived</label>
        <locationX>816</locationX>
        <locationY>225</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>All_products_have_been_already_delivered2</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>all Products have been delivered</stringValue>
            </defaultValue>
            <fieldText>all Products have been delivered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>v1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
